//@import '../utils/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

$primary: #F0985E;
$primary-m1: #8B361D;
$primary-m2: #AC522F;
$primary-m3: #FACE9F;
$primary-m4: #FEF2DF;

$secundary:#596B61;
$secundary-m1:#11332E;
$secundary-m2:#2C4D41;
$secundary-m3:#BDD2C2;
$secundary-m4:#EFF7EF;

$grey: rgb(234, 234, 234);
$white: #ffffff;

$font: 'Poppins', sans-serif;




$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

$fontsize1: 20px;