@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.general-getinvolved {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;

    & article {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.title-getinvolved {
    height: 21%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 1em;
    padding-top: 3em;
    flex-direction: column;
    border-bottom-left-radius: 50px;

    & .text-title-getinvolved {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        margin: 0em 2em 0em 2em;
        padding: 0 5.3em 0 0em;
        color: #35312E;
    }

    & figure {
        margin-bottom: 3px;
    }
}

.body-getinvolved {

    background: #FEFEFC;
    border-radius: 0px 50px 0px 0px;

    & p {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #35312E;
        line-height: 130%;
        margin: 1.2em 3em 1em 3em;
    }
}


.link-to-more-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1em 2.7em 1em 2.7em;

    & img {
        margin-right: 5px;
    }

    & a {
        text-decoration: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        color: #F0985E;
    }
}


.buttons-getinvolved {
    @include column-center;
    margin-top: 2em;

    & button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 14px;
        background: #F5F2ED;
        border-radius: 100px;
        border-width: 0;

        font-family: $font;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        top: 1400px;
        display: flex;
        align-items: center;
        color: #596B61;
        flex: none;
        order: 1;
        flex-grow: 0;
        cursor: pointer;
    }

    & button:hover {
        background: #BDD2C2;
    }

    & .participa-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 14px;


        width: 214px;
        height: 40px;
        left: 80px;
        top: 1456px;
        background: #F0985E;
        border-radius: 100px;
        margin: 1em;
        font-family: $font;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        display: flex;
        align-items: center;
        color: #FEFEFC;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    & .participa-button:hover {
        background: #AC522F;
    }
}

.arrow_totop {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
    width: 24px;
    height: 24px;
    cursor: pointer;
    align-items: center;
    

    & img {
        transform: rotate(180deg);
        color: #596B61;

    }

    & p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
        color: #596B61;
    }

}

mark.orange{
        color:#F0985E;
        background: none;
}


.quote-div{
    background-color: #F5F2ED;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    margin: 1em;

    & p:first-child{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #35312E;
    line-height: 130%;
    margin: 1.2em 3em 1em 3em;
    }

    & p:nth-child(2){
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #35312E;
        line-height: 130%;
        margin: 1.2em 3em 1em 3em;
        text-align: end;
    }
}

// >>>>>>>>>>>>>>>

//====================
//** PARA VISTA DESKTOP: **
//====================


@media (min-width: 600px) {
    .general-getinvolved {
        height: 700px;
    }
}