@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.general-program {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    article:last-of-type{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-top: 4em;
    }
}

.title-program {
    background-color: #F5F2ED;
    height: 21%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 1.7em;
    flex-direction: column;
    border-bottom-left-radius: 50px;

    & .text-title-program {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        margin: 0em 2em 0em 2em;
        padding: 0 5em 0 0em;
        color: #35312E;
    }

    & figure{
        margin-bottom: 3px;
    }

}



.body-program {

    background: #FEFEFC;
    border-radius: 0px 50px 0px 0px;

    & p {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #35312E;
        line-height: 130%;
        margin: 2.2em 3em 1em 3em;
    }

   
}


.link-to-more-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 2.7em 0 2.7em;

    & img {
        margin-right: 5px;
    }

    & a {
        text-decoration: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        color: #F0985E;
    }
}

.buttons-program {
    @include column-center;
    margin-top: 3em;

    & button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 14px;
        background: #F5F2ED;
        border-radius: 100px;
        border-width: 0;

        font-family: $font;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        top: 1400px;


        display: flex;
        align-items: center;

        color: #596B61;

        flex: none;
        order: 1;
        flex-grow: 0;
    }

    & #participa-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 14px;

    
        width: 214px;
        height: 40px;
        left: 80px;
        top: 1456px;

        /* Primario/Primario */

        background: #F0985E;
        border-radius: 100px;

        margin: 1em;

        font-family: $font;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        /* or 18px */
        
        display: flex;
        align-items: center;
        
        /* Neutros/Neutro 05 */
        
        color: #FEFEFC;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}


// >>>>>>>>>>>>>>>



