@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.general-testimonies {

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 816px;
    justify-content: center;
    align-content: center;

}


.title-testimonies {
 
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 1.7em;
    padding-top: 2em;
    flex-direction: column;
    border-bottom-left-radius: 50px;

    & .text-title-testimonies {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        margin: 0em 2em 0em 2em;
        padding: 0 5em 0 0em;
        color: #35312E;
    }

    & figure {
        margin-bottom: 3px;
    }

}





.video-container {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}


.circular--landscape {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--landscape img {
    width: auto;
    height: 100%;
}



.testimonies-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    margin: 2em 0 2em 0;

    & img:hover {
        transform: scale(1.1);
    }
}






.scrolling-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: start;
    margin-left: 1em;
    overflow-x: scroll;
}


.cards-testimonies{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #BDD2C2;
    display: flex;
    overflow: hidden;
}




// >>>>>>>>>>>>>>> FLECHA SCROLL

.arrow_downward-testimonies {

    display: flex;
    justify-content: center;
    padding: 4em 0 2em 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    width: 100%;
    background-color: #BDD2C2;
   
}