@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 22vh;
    margin-bottom: 7vh;

    &__title {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33.6px;
        color: #35312E;
    }
    &__p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #35312E;
        line-height: 130%;
        margin: 0;
    }
}

.login__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30vh;
    align-items: center;
    
    &-label{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #35312E;
        line-height: 130%;
        margin: 0;
        width: 323px;
        margin-left: 12px;
    }
    
    &-textinput {
        border: 1.5px solid #BDD2C2;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 48px;
        width: 93vw;
        max-width: 600px;
        box-sizing: border-box;
        margin: 1em;
        padding: 12 0px;
        background: transparent;
        background-color: #F5F2ED !important;
        color: #596B61;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;

        &:focus {
            border: 1.5px solid #596B61 !important;
            outline: none;
        }
    }

    & input[type=email] {
        background-image: url("../../../../assets/envelope1.svg");
        background-repeat: no-repeat;
        background-position: 10px 15px;
        padding-left: 40px;
        position: relative;
    }
    & input[type=password] {
        background-image: url('./../../../../assets/password.svg');
        background-position: 10px 15px;
        background-repeat: no-repeat;
        padding-left: 40px;
        position: relative;
    }

    &-forgot {
        font-family: "Poppins";
        margin-top: 0px;
        margin-left: 12px;
        font-size: 10px;
        color: #090C1F;

        &-recover{
            text-decoration: none;
            color: #F0985E;
        }
    }

    &-submit {
        width: 135px;
        height: 40px;
        border-radius: 100px;
        margin-top: 40px;
        padding: 8 16px;
        background-color: #F0985E;
        border-style: none;
        gap: 8px;
        align-self: center;
        font-family: "Poppins";
        font-weight: 500;
        color: #F5F2ED;

        &:active {
            background-color: #AC522F;
        }
    }

    &__container-email {
        display: flex;
        justify-content: left;
    }
    &__container-password {
        display: flex;
        justify-content: left;
    }
}