@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';


//=====================================================

// BEGGINING PAGE

//====================================================

.form__beginningpage {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 816px;
  background: #F5F2ED;

  &>img {
    width: 166px;
    height: 39px;
  }

  &>h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #596B61;
    font-family: $font;
    margin-left: 2em;
    margin-right: 2em;
  }

  &>.subtitle_1 {
    font-family: $font;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #35312E;
    margin: 0;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
  }

  &>.subtitle_2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #596B61;
    margin-top: 0.5em;
    margin-bottom: 3em;
    margin-left: 2em;
    margin-right: 2em;
  }

  &>.subtitle_3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #35312E;
    margin-left: 2em;
    margin-right: 2em;
  }
}


//=====================================================

// OPCIONES GENERALES DE TODO EL FORM

//====================================================

// BOTÓN NARANJA DIV
.form-buttons-div {
  display: flex;
  justify-content: space-between;

}

// BOTÓN NARANJA 
.form-button-orange {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 8px;
  cursor: pointer;

  width: 135px;
  height: 40px;
  left: 16px;
  top: 736px;

  background: #F0985E;
  border-radius: 100px;
  border: none;

  margin: 1em;

  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;

  display: flex;
  align-items: center;

  color: #FEFEFC;

  flex: none;
  order: 1;
  flex-grow: 0;

}

// BOTONES ATRÁS Y SIGUIENTE
.form-button-orange:disabled {
  background: #9C948B;
  color: white;
  cursor: not-allowed
}

.form-button-back {
  @extend .form-button-orange;
  background: #F5F2ED;
  color: #9C948B;

}


// LABELS
.form_labels {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #35312E;
  margin-bottom: 1em;
}

.form_labels-clarification {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #35312E;
  margin-bottom: 1em;
}


// BARRA DE PROGRESSO
.form_progress_bar {
  margin: 1em;
}



// FORM y sus pregs
.form-general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-left: 2em;
  margin-right: 2em;
}


.forminputs-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.forminputs-div {
  text-align: left;
  margin-bottom: 2rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}



.forminputs-radio {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 810px;
}

.forminputsradio-div {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.forminputsradio-div input {
  min-width: 15px;
  min-height: 15px;
  margin-left: 0;
}

.forminputsradio-div label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #35312E;
  margin-left: 1em;
}



//=====================================================

// ENDING PAGE

//====================================================