@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';


  //====================
  //** Circulos fondo: **
  //====================


.circle-1 {
    background: #FACE9F;
    border-radius: 50%;
    height: 11em;
    width: 11em;
    position: absolute;
    left: -85px;
    top: 90px;
    z-index: 1;
  }

  .circle-2 {
    background: #BDD2C2;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    position: absolute;
    left: -23px;
    top: 230px;
    z-index: 1;
  }

  .circle-3 {
    background: #BDD2C2;
    border-radius: 50%;
    height: 6em;
    width: 6em;
    position: absolute;
    right: -53px;
    top: 150px;
    z-index: 1;
  }

  .circle-4 {
    background: #FACE9F;
    border-radius: 50%;
    height: 10em;
    width: 10em;
    position: absolute;
    right: -93px;
    top: 548px;
    z-index: 1;
  }

  .circle-5{
    background: #F0985E;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    position: absolute;
    right: 3px;
    top: 529px;
    z-index: 1;
  }



  //====================
  //** General: **
  //====================


.general-intro {
    background-color: #FEF2DF;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 816px;
}

.title {
    text-align: center;
    margin: 0;
    padding-top: 1em;

    & .h1-b {
        margin: 0;
        @include h1-b;
    }
}

.subtext {
    @include body2-s;
    margin: 1em 0em;

    & :first-child{
        margin: 0 7em;
        text-align: center;
    }
    & :nth-child(2){ 
        text-align: center;
    }
}

.caption {
    //styleName: Caption/Extra Small Text Semibold;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}

#logo-intro {
    width: 80px;
    height: 64px;
    margin-top: 4em;
}

.texts-intro{
    margin: 12em 0;
    position: relative;
    top: 33px;
    margin: 12em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    

    & img{
        width: 80px;
    }
    
}



// >>>>>>>>>>>>>>> FLECHA SCROLL


.arrow_downward-intro {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    width: 24px;
    height: 24px;
    cursor: pointer;
}




  //====================
  //** PARA VISTA DESKTOP: **
  //====================


@media (min-width: 600px) {
    .general-intro {
        height: 700px;
    }
}