@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';


/*==============
  CONTENIDO DEL MODAL
  ===============*/

.content-modal {
  @include column-center;
  padding: 1em 2em;

  & #email-dossier-popup {
    width: 17em;
    display: flex;
    flex-direction: row;
    border: 1.5px solid #BDD2C2;
    border-radius: 8px;
    align-items: flex-start;
    padding: 12px;
    height: 25px;
    margin: 1em;
    background: #F5F2ED;
  }

  
    & #email-dossier-popup::placeholder,
    input[type=text] {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: #9C948B;
      background-image: url('./../../../../assets/envelope2.svg');
      background-position: 10px 0px;
      background-repeat: no-repeat;
      padding-left: 40px;
    }
  & #checkbox{
    display: flex;
    & a{
      color: #35312E;
  }
}

  & .tacbox{
    flex-direction: row;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #35312E;

    & a{
      color: #35312E;
    }
  }

  /*  & input:focus{
    background-image: url('./../../assets/envelope1.svg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-left: 40px;
  } */

  & #h3-sent {
    margin-bottom: 0;
  }

  & #h3-checkInbox {
    margin-top: 0;
  }

  & article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.h3-modal {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #35312E;
}



/*==============
  BOTÓN ENVIAR
===============*/


.getInvolved-button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 14px;
  width: 135px;
  height: 40px;
  left: 80px;
  top: 1456px;
  background: #F0985E;
  border-radius: 100px;
  margin: 1em;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #FEFEFC;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-style: none;
  cursor: pointer;
}

.getInvolved-button:hover {
  background: #AC522F;
}




/*==============
  CLOSE CROSS
===============*/


.section-close-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  font-size: 24px;
  color: #9C948B;
  position: absolute;
  cursor: pointer;
}

.close-btn:hover {
  opacity: 0.4;
}


.error-msg {
  color: #E87D7D;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  display: flex;
  align-items: center;
margin:0;
}