@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';


//====================
//** Circulos fondo: **
//====================



.circle-1-profile {
  background: #FACE9F;
  border-radius: 50%;
  height: 11em;
  width: 11em;
  position: absolute;
  left: -70px;
  top: -27px;
  z-index: 1;
  opacity: 0.5;
}

.circle-2-profile {
  background: #BDD2C2;

  border-radius: 50%;
  height: 4em;
  width: 4em;
  position: absolute;
  left: -20px;
  top: 122px;
  z-index: 1;
  opacity: 0.5;
}

.circle-3-profile {
  background: #BDD2C2;
  border-radius: 50%;
  height: 6em;
  width: 6em;
  position: absolute;
  right: -53px;
  top: 188px;
  opacity: 0.5;
  z-index: 1;
}

.circle-4-profile {
  background: #FACE9F;
  border-radius: 50%;
  height: 10em;
  width: 10em;
  position: absolute;
  right: -58px;
  opacity: 0.5;
  top: -46px;
  z-index: 1;
}



//====================
//** General: **
//====================

.user-details {
  align-items: stretch;
  background-color: #f5f2ed;
  border-bottom-left-radius: 50px;
  justify-content: flex-end;
  z-index: 1;
 
}

.user-details-top{
  @include column-center;
    z-index: 2;
    padding-top: 3em;
    
}


.user-details-bottom{
  @include column-center;
}

.user-details-bottom-item{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em;
  & img {
    margin-right: 1em;
  }
  & p {
    margin: 0;
  }
}

.circular--landscape{
  border-width: 2px;
  border-color: #F0985E;
}


.user-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.3em;
  flex-direction: row;
  margin-bottom: 1em;
  margin-top: 1em;


  & div {
    margin: 0.3em;
    background-color: #FEF2DF;
    width: 164px;
    height: 176px;
    border-radius: 20px;
    flex-direction: column;
    @include wrap-center
  }

  & div:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  & img {
    width: 88px;
    height: 88px;
  }

  & h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    
    display: flex;
    align-items: center;
    text-align: center;

    color: #35312E;
  }
}


.circular--landscape--profile{

  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F0985E;
  clip-path: circle(50% at 50% 50%);
  margin-top: 2em;
 
  & .user__img{
    height: 110px;
    width: 110px;
    border-radius: 50%;
  }
}


@media only screen and (min-width: 768px) {
  body {
    .user-details-bottom {
      flex-direction: row;
  }
  .user-options div{
    width: 18em;
    height: 17em;
  }

  .user-options img {
    width: 8em;
    height: auto;
  }
}
}